        <div id="footer">
            <br/>
            <hr/>
            <p><strong>This Page is for demonstration purpose only.</strong></p>
            <p>@2017 YelpCamp</p>
        </div>
    </body>
</html>